.admin-nav {
   display: flex;
  flex-direction: column;
  width: 220px;
  background-color: #1e2a47;
  padding: 20px;
  border-radius: 12px;
  font-family: 'Segoe UI', sans-serif;
  color: #cbd5e1;
  height: 100vh;
  box-shadow: 2px 0 8px rgba(0,0,0,0.2);
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  color: #cbd5e1;
}

.tab-item.active {
  background-color: #3b82f6;
  color: white;
}

.logout {
  margin-top: 90%;
  width: 50px;
  margin-left: 30%;
  padding: 10px;
  background-color: #f396a9;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

/*  POPUP FIX */
.user-popup {
  position: absolute;
  top: 60px; 
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  color: #000;
  padding: 12px;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 999;
}

.user-popup button {
  margin-top: 10px;
  padding: 6px;
  background: #f396a9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
