.admin-nav {
  display: flex;
  flex-direction: column;
  width: 220px;
  background-color: #1e2a47;
  padding: 20px;
  border-radius: 12px;
  font-family: 'Segoe UI', sans-serif;
  color: #cbd5e1;
  height: 100vh;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  color: #cbd5e1;
}

.tab-item.active {
  background-color: #3b82f6;
  color: white;
}

.logout {
  margin-left: auto;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 10px;
  background-color: #f1f5f9; 
  color: #1e293b;
  border-radius: 8px;
  margin-right: 120px;
}

/*  POPUP FIX */
.user-popup {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  color: #000;
  padding: 12px;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 999;
}

.user-popup button {
  margin-top: 10px;
  padding: 6px;
  background: #f396a9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-topbar {
  position: fixed;
  top: 0;
  left: 260px;
  width: calc(100% - 250px);
  height: 40px;

  background-color: #ffffff;
  /* border-bottom: 1px solid #e5e7eb; */

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  z-index: 100;
}